<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./node_modules/bootstrap.css">
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
</head>

<body>

  <div id="app">

<!-- http://vue.studyit.io/api/getprodist -->



<!-- 

  接口不能用





 -->












    <div>
      <h3 class="text-primary">添加品牌</h3>
      <hr>
      <div class="form-inline">
        <!-- <label class="text-muted">
          &nbsp; Id: &nbsp;
          <input v-model="newId" type="text" class="form-control">&nbsp;
        </label> -->

        <label>
          Name: &nbsp;
          <input v-model="newName" type="text" class="form-control">&nbsp;
        </label>

        <input @click="addData,getAllList" type="button" value="添加" class="btn btn-primary"></input>&nbsp;

        <input v-model="keywords" type="text" placeholder="请输入品牌关键字" class="form-control">&nbsp;


      </div>
    </div>
    <hr>
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in sertchData" v-bind:key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.ctime | filterDate('yyyy-MM-dd') }}</td>
          <td>
            <a href="" @click.prevent="deleteData(index)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>



    Vue.filter('filterDate', function (data, pattern) {
      const dt = new Date(data)
      console.log(dt)
      const y = dt.getFullYear()
      const m = dt.getMonth() + 1
      const d = dt.getDate()

      //  return y + '-' + m + '-' +d


      if (pattern && pattern.toLowerCase() === 'yyyy-mm-dd') {
        return `${y}-${m}-${d}`
      } else {
        const hh = dt.getHours()
        const mm = dt.getMinutes()
        const ss = dt.getSeconds()
        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
      }

    })

    
    const list = [
      {
        id: 1,
        name: '奔驰',
        ctime: new Date()
      },
      {
        id: 2,
        name: '宝马',
        ctime: new Date()
      }
    ]
    const vm = new Vue({
      el: '#app',
      data: {
        list,
        // newId: '',
        newName: '',
        keywords: ''
      },

      created() {
        this.getAllList()
      },

      methods: {
        deleteData(index) {
          this.list.splice(index, 1)
        },

        addData() {
          const newData = {
            id: this.list.length ? this.list[this.list.length - 1].id + 1 : 1,
            name: this.newName,
            ctime: new Date()
          }
          this.list.push(newData)
        },

        // 1.由于已经导入 vue-resource 包 所以可以直接通过 this.$http 来发起数据请求
        // 2.根据接口API文档，知道，获取列表的时候，应该发起一个 get 请求
        // 3.this.$http.get('url').then(function () {})
        // 4.当通过 then 指定回调函数之后，在回调函数中可以拿到数据服务器返回的 result
        // 5.先判断 result.status 是否等于零，等于0，可以把 result.message 赋值给list
        getAllList () {
          
          this.$http.get('http://47.89.21.179:8080/api/getprodlist').then(result => {
            
            var result = result.body
            if(result.status === 0){
              this.list = result.message
            }else{
              alert('失败了')
            }
          })
        }
      },

      computed: {
        sertchData() {
          return this.list.filter(t => t.name.includes(this.keywords))
        }
      },
      // 私有过滤器,  过滤器有两个条件，  【过滤名称和过滤函数】
      // 过滤器调用的时候采用的是就近原则，如果私有过滤器和全局过滤器名称一致，优先调用私有过滤器
      filters: {
        filterDate(data, pattern = '') {
          const dt = new Date(data)
          
          const y = dt.getFullYear()
          const m = (dt.getMonth() + 1).toString().padStart(2, '0') // 补充字符串
          const d = dt.getDate().toString().padStart(2, '0')
          // console.log(typeof m)
          //  return y + '-' + m + '-' +d


          if (pattern && pattern.toLowerCase() === 'yyyy-mm-dd') {
            return `${y}-${m}-${d}`
          } else {
            const hh = dt.getHours()
            const mm = dt.getMinutes()
            const ss = dt.getSeconds()
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~`
          }
        }
      }
    })
  </script>

</body>

</html>